header {
  nav {
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-sizing: border-box;
    position: fixed;
    z-index: 5;
    background-color: rgba($color2, 0);
    @include trans(1.5s);
    .menu {
      background-color: rgba($color2, 0.9);
      position: absolute;
      right: -100vw;
      top: 4rem;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      font-size: getSize(large);
      @include trans(1s);
      @include desktop {
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
        height: initial;
        display: flex;
        justify-content: flex-end;
        font-size: initial;
        background-color: initial;
      }
      .menu_item {
        list-style: none;
        color: $color5;
        text-align: center;
        padding: 1rem 0;
        position: relative;
        top: 10vh;
        right: -100vw;
        cursor: pointer;
        transition: right 1s;
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            transition-delay: $i * 0.1s;
          }
        }
        &:hover {
          color: $color5-1;
        }
        @include desktop {
          width: 8rem;
          right: 0;
          top: 0;
          padding: 0.8rem 0;
          margin-left: 1rem;
          color: $color2;
          &::after {
            content: "";
            width: 8rem;
            height: 0.1rem;
            background-color: white;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scale(0);
            @include trans(0.5s);
          }
          &:hover {
            color: white;
            &::after {
              transform: scale(1);
            }
          }
        }
        .menu_link {
          text-decoration: none;
          color: $color5;

          &:hover {
            color: $color5-1;
          }
          @include desktop {
            color: $color2;
            &:hover {
              color: white;
            }
          }
        }

        .link_change {
          @include desktop {
            color: $color5;
          }
        }
        .link_color {
          color: $color5-1;
          @include desktop {
            color: white;
          }
        }

        .submenu {
          list-style: none;
          background-color: rgba($color6, 0.5);
          margin-top: 1rem;
          display: none;
          @include desktop {
            position: absolute;
            left: 0;
            top: 2.5rem;
            padding: 1rem;
            background-color: rgba($color2, 0.8);
          }
          .submenu_item {
            padding: 1rem 0;
            a {
              text-decoration: none;
              color: $color5;
              font-size: getSize(medium);
              &:hover {
                color: $color5-1;
              }
              @include desktop {
                font-size: initial;
                &:hover {
                  color: white;
                }
              }
            }
          }
        }
      }

      .item_change {
        @include desktop {
          color: $color5;
        }
      }
      .item_color {
        color: $color5-1;
        @include desktop {
          color: white;
        }
      }

      .item_slide {
        right: 0;
      }
    }
    .menu_slide {
      right: 0;
    }
    .logo {
      font-size: getSize(medium);
      color: $color2;
      letter-spacing: 0.5rem;
      @include trans(0.5s);
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
    .logo_change {
      color: $color5;
      &:hover {
        color: $color5-1;
      }
      @include desktop {
        color: $color2;
        &:hover {
          color: white;
        }
      }
    }
    .logo_color {
      @include desktop {
        color: $color5;
      }
    }
    .hamburger {
      position: relative;
      width: 45px;
      height: 33px;
      cursor: pointer;
      @include trans(0.5s);
      &:hover {
        transform: rotate(180deg);
      }
      @include desktop {
        display: none;
      }
      .hamburger_icon1 {
        width: 45px;
        height: 5px;
        background-color: $color2;
        border-radius: 999rem;
        position: absolute;
        top: 0;
        @include trans(1s);
      }
      .hamburger_icon2 {
        @extend .hamburger_icon1;
        top: 14px;
      }
      .hamburger_icon3 {
        @extend .hamburger_icon1;
        width: 30px;
        top: 28px;
      }
      .hamburger_change1 {
        transform: rotate(315deg);
        top: 14px;
        opacity: 0;
      }
      .hamburger_change2 {
        transform: rotate(315deg);
      }
      .hamburger_change3 {
        width: 45px;
        top: 14px;
        transform: rotate(-315deg);
      }
      .hamburger_color1,
      .hamburger_color2,
      .hamburger_color3 {
        background-color: $color5;
      }
    }
  }
  .my_picture {
    height: 100vh;
    background: linear-gradient(
        -45deg,
        rgba(41, 66, 148, 0.2) 0%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url("../img/me2.jpg") center top;
    background-size: cover;
    position: relative;
    .my_info {
      position: relative;
      top: 40vh;
      text-align: center;
      color: white;
      line-height: 2rem;
      font-size: getSize(medium);
      @include desktop {
        line-height: 2.5rem;
      }
      h1 {
        border-bottom: 1px solid white;
        padding-bottom: 1rem;
        padding-top: 2rem;
        font-size: 3rem;
        position: relative;
        &::before {
          content: "";
          width: 0;
          height: 0;
          border-bottom: 8px solid rgba($color2, 0);
          border-top: 8px solid $color2;
          border-right: 8px solid rgba($color2, 0);
          border-left: 8px solid rgba($color2, 0);
          border-radius: 3px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-5px);
          animation: ani-1 1.5s infinite linear;
        }
        @keyframes ani-1 {
          0% {
            top: 0;
          }
          50% {
            top: 8px;
          }
          100% {
            top: 0;
          }
        }
        @include desktop {
          font-size: 4rem;
          padding-bottom: 1.5rem;
          margin-top: 0.1rem;
        }
        span {
          color: $color2;
        }
      }
    }
  }
  .nav_color {
    background-color: rgba($color2, 0.9);
    @include desktop {
      background-color: rgba($color2, 0);
    }
  }
  .nav_change {
    @include desktop {
      background-color: rgba($color2, 0.9);
    }
  }
}
