.experience {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: lighten($color1, 5%);
  overflow: hidden;
  position: relative;
  .flip {
    width: 200%;
    height: 100%;
    background-color: $color1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotate(0deg);
    transform-origin: top left;
    transition: transform 1s;
  }
  h2 {
    color: $color5-1;
    font-size: getSize(xl);
    text-align: center;
  }
  .ex_content {
    padding: 0rem 3rem;
    margin: 2rem 0;
    position: relative;
    left: 16%;
    width: 80%;
    border-left: 2px solid $color6;
    line-height: 1.5rem;
    @include desktop {
      left: 25%;
    }
    .ex_individual {
      margin-bottom: 1rem;
      h3 {
        color: $color5;
        margin-bottom: 0.5rem;
      }
      p {
        color: $color4;
        span {
          font-weight: bold;
        }
      }
      .ex_c1 {
        width: 1rem;
        height: 1rem;
        background-color: $color6;
        position: absolute;
        top: 0;

        left: calc(-0.5rem - 1px);
        border-radius: 99rem;
        box-shadow: none;
        animation: ex_an 4.5s 3s infinite;
      }
      .ex_c2 {
        width: 1rem;
        height: 1rem;
        background-color: $color6;
        position: absolute;
        top: calc(50% - 0.5rem);
        left: calc(-0.5rem - 1px);
        border-radius: 99rem;
        box-shadow: none;
        animation: ex_an 4.5s 1.5s infinite;
      }
      .ex_c3 {
        width: 1rem;
        height: 1rem;
        background-color: $color6;
        position: absolute;
        top: calc(100% - 1rem);
        left: calc(-0.5rem - 1px);
        border-radius: 99rem;
        box-shadow: none;
        animation: ex_an 4.5s infinite;
      }
      @keyframes ex_an {
        0% {
          background-color: $color6;
          box-shadow: none;
        }
        33.33% {
          background-color: rgb(76, 213, 255);
          box-shadow: 0 0 10px rgb(76, 213, 255), 0 0 40px 2px rgb(76, 213, 255);
        }
        66.667% {
          background-color: $color6;
          box-shadow: none;
        }
        100% {
          background-color: $color6;
          box-shadow: none;
        }
      }
    }
  }
}
.skill {
  padding-top: 4rem;
  text-align: center;
  @include pad {
    padding: 4rem;
  }
  h2 {
    color: $color5-1;
    font-size: getSize(xl);
  }
  .skill_content {
    padding-top: 2rem;
    @include pad {
      display: flex;
      padding: 2.5rem 0;
    }
    .content1 {
      background-color: $color2-1;
      padding: 4rem 2rem;
      overflow: hidden;
      position: relative;
      &::before {
        content: "";
        width: 400px;
        height: 400px;
        background-color: rgba(white, 0.3);
        transform: rotate(-30deg);
        position: absolute;
        left: -10%;
        top: 5rem;
        @include desktop {
          height: 500px;
          top: 2rem;
          left: -5%;
        }
      }
      @include pad {
        flex: 40%;
        position: relative;
        left: 2rem;
        height: 20rem;
      }
      @include desktop {
        left: 4rem;
        height: 25rem;
      }
      .content_info {
        position: relative;
        top: 35rem;
        @include trans(0.8s);
        @include pad {
          padding-left: 1rem;
          padding-right: 3rem;
        }
        @include desktop {
          padding-left: 1rem;
          padding-right: 7rem;
        }
        h3 {
          color: $color5;
          margin: 1rem 0 0.5rem 0;
          font-size: getSize(large);
        }
        p {
          color: $color6-1;
        }
        div {
          span {
            font-weight: bold;
            font-size: 3rem;
            background: linear-gradient(
              45deg,
              rgb(115, 169, 29) 60%,
              rgb(158, 255, 1) 80%,
              rgb(115, 169, 29) 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200px 200px;
            background-position: 100% 0;
            animation: colorR 3s infinite;
            @include pad {
              font-size: 4rem;
            }
          }
        }
      }
      .content_slide {
        top: 0;
        @include pad {
          top: 50%;
          transform: translateY(-4rem);
        }
      }
    }
    .content2 {
      @extend .content1;
      background-color: $color3;
      position: relative;
      &::before {
        content: "";
        width: 400px;
        height: 400px;
        background-color: rgba(white, 0.2);
        transform: rotate(30deg);
        position: absolute;
        left: 35%;
        top: 4rem;
        @include desktop {
          height: 600px;
          width: 600px;
          left: 25%;
          top: 4rem;
        }
      }
      @include pad {
        flex: 50%;
        top: 3rem;
        left: -2rem;
      }
      @include desktop {
        left: -4rem;
      }
      .content_info {
        p {
          color: $color4;
        }
        div {
          span {
            background: linear-gradient(
              45deg,
              rgb(5, 114, 148) 60%,
              rgb(76, 213, 255) 80%,
              rgb(5, 114, 148) 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200px 200px;
            background-position: 100% 0;
            animation: colorR 3s infinite;
          }
          @keyframes colorR {
            0% {
              background-position: 100% 0;
            }
            100% {
              background-position: 0 0;
            }
          }
        }
        @include pad {
          padding-left: 0;
          padding-right: 0;
        }
        @include desktop {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

.project {
  padding-top: 4rem;
  text-align: center;
  h2 {
    color: $color5-1;
    font-size: getSize(xl);
  }
  ul {
    padding: 1rem 0 2rem 0;
    @include pad {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 4rem 0;
    }
    @include desktop-l {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 4rem;
    }
    li {
      list-style: none;
      width: 220px;
      margin: 2rem auto;
      @include pad {
        width: 340px;
        margin: 0 auto;
      }
      @include desktop {
        width: 280px;
      }
      a {
        display: table;
        position: relative;
        text-decoration: none;
        color: $color5;
        font-size: getSize(medium);
        &:hover {
          color: $color5-1;
          img {
            transform: scale(1.1) rotate(5deg);
            top: -3rem;
            box-shadow: 1px 1px 0.5rem grey;
          }
          p {
            transform: scale(1.1) rotate(-5deg);
            top: 200px;
            text-shadow: 1px 1px 1px grey;
            @include pad {
              top: 315px;
            }
            @include desktop {
              top: 270px;
            }
          }
        }
        p {
          display: table-cell;
          width: 220px;
          position: absolute;
          top: 215px;
          left: 0px;
          @include trans(0.4s);
          @include pad {
            width: 340px;
            top: 330px;
          }
          @include desktop {
            width: 280px;
            top: 285px;
          }
        }
        div {
          width: 220px;
          height: 250px;
          background-color: $color1;
          box-shadow: 2px 2px 2px darken($color1, 10%),
            -2px -2px 2px lighten($color1, 10%);
          margin-bottom: 1rem;
          padding-top: 0.5rem;
          @include pad {
            width: 340px;
            height: 380px;
            padding-top: 1rem;
          }
          @include desktop {
            width: 280px;
            height: 330px;
          }
          img {
            position: relative;
            top: 0rem;
            width: 200px;
            transform: scale(1);
            @include trans(0.4s);
            @include pad {
              width: 300px;
            }
            @include desktop {
              width: 250px;
            }
          }
        }
      }
    }
    li:nth-child(1) {
      transform: rotate(2deg);
      @include desktop-l {
        transform: rotate(2deg);
      }
    }
    li:nth-child(2) {
      transform: rotate(-2deg);
      @include desktop-l {
        transform: rotate(-2deg) translateY(-1rem);
      }
    }
    li:nth-child(3) {
      transform: rotate(2deg);
      @include pad {
        transform: rotate(-2deg) translateY(1rem);
      }
      @include desktop-l {
        transform: rotate(2deg);
      }
    }
    li:nth-child(4) {
      transform: rotate(-2deg);
      @include pad {
        transform: rotate(2deg);
      }
      @include desktop-l {
        transform: rotate(-2deg) translateY(1rem);
      }
    }
  }
}

.contact {
  background-color: lighten($color1, 5%);
  padding-top: 4rem;
  text-align: center;
  overflow: hidden;
  h2 {
    color: $color5-1;
    font-size: getSize(xl);
  }
  .contact_content {
    padding: 2rem;
    position: relative;
    top: -40rem;
    left: 0;
    @include trans(1.5s);
    div {
      margin-bottom: 1.5rem;
      img {
        width: 200px;
        clip-path: circle(50% at 40% 40%);
        border-radius: 999rem;
      }
      h3 {
        color: $color5;
        font-size: getSize(medium);
        margin-bottom: 0.5rem;
        span {
          background: linear-gradient(
            45deg,
            rgb(5, 114, 148) 40%,
            rgb(76, 213, 255) 80%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        color: $color4;
      }
    }
  }
  .contact_opa {
    animation: bounce 0.6s linear forwards;
  }
  @keyframes bounce {
    0% {
      top: -40rem;
    }
    50% {
      top: 0;
    }
    75% {
      top: -3rem;
    }
    100% {
      top: 0rem;
    }
  }
}
